:root {
    --color-white: #F5F3F0;
    --color-black: #000000;
    --color-gray: #B3B3B3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-black);
    font-family: "Inter", sans-serif;

    .container {
        width: 100%;
        height: 100%;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        overflow-x: hidden;

        section {
            flex: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            scroll-snap-align: start;
        }

        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;

            .profile-picture {
                width: 140px;
                height: 140px;
                background-color: #0f0f0f;
                border-radius: 50%;
                margin-bottom: 20px;
                background-image: url(../assets/pp.png);
                background-size: cover;
                flex: none;
            }

            h2 {
                font-size: 28px;
                font-weight: 550;
                color: var(--color-white);
            }

            h1 {
                font-size: 71px;
                font-weight: 650;
                text-align: center;
                color: var(--color-white);
            }

            p {
                font-size: 24px;
                font-weight: 300;
                text-align: center;
                color: var(--color-gray);
            }

            a {
                text-decoration: none;
                background-color: var(--color-white);
                color: var(--color-black);
                padding: 18px  24px;
                border-radius: 30px;
                font-size: 15px;
                font-weight: 500;
                margin-top: 10px;
            }

            a:hover  {
                background-color: #dbdbdb;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    body {
        .container {
            .header {
                gap: 20px;

                .profile-picture {
                    width: 110px;
                    height: 110px;
                }

                h2 {
                    font-size: 18px;
                }

                h1 {
                    font-size: 41px;
                }

                p {
                    font-size: 16px;
                }

                a {
                    padding: 14px 20px;
                    font-size: 12px;
                }
            }
        }
    }
}

@media only screen and (max-height: 425px) {
    body {
        .container {
            .header {
                gap: 10px;

                .profile-picture {
                    width: 92px;
                    height: 92px;
                }

                h2 {
                    font-size: 16px;
                }

                h1 {
                    font-size: 28px;
                }

                p {
                    font-size: 14px;
                }

                a {
                    padding: 14px 18px;
                    font-size: 10px;
                }
            }
        }
    }
}